<!--======  #BLOG SECTION  ============-->    
<div id="blog_section" class="blog_details">
  <div class="container">        
    <div class="grid"> 	
      
      <div class="grid__item nine-twelfths medium-down--one-whole">   
        <!-- Blog List -->  
        <div class="blog_list">
          <div class="grid">
            {% if section.settings.show_article_nav %}
            <div class="grid__item">
              {% if blog.next_article or blog.previous_article %}
              <div class="breadcrumb_product">          
                {% if blog.previous_article %}
                <a href="{{ blog.previous_article }}" class="prv_product">
                  <i class="fa fa-arrow-left"></i> 
                  {{ 'blogs.article.older_post' | t | capitalize }}
                </a>
                {% endif %}
                {% if blog.next_article %}  
                <a href="{{  blog.next_article }}" class="next_product">
                  {{ 'blogs.article.newer_post' | t | capitalize }}
                  <i class="fa fa-arrow-right"></i></a>   
                {% endif %}
              </div>
              {% endif %}   
			 </div>
            {% endif %}
            <div class="grid__item large--one-whole">
              <div class="blog_full">
                <!--<h4 class="blog_title">{{ article.title }}</h4> -->
                {% if article.image.src != blank %}
                <img src="{{ article.image.src | img_url: 'master' }}" alt="{{ article.image.alt | escape }}" />
                {% else %}
                {{ 'image' | placeholder_svg_tag: 'icon icon--placeholder' }}
                {% endif %}
                <div class="blog_creat"><span>{{ article.published_at | date: "%d,%m,%Y" }}</span>
                  {% if section.settings.blog_author_enable %} <span>{{ article.author }}</span>{% endif %} 
                  {% if section.settings.enable_comment %}<span>Comments ({{ article.comments_count }})</span>{% endif %}
                </div>
                <h5> {{ article.title }} </h5>                
                {{ article.content }}

              </div>  
            </div>             
          </div>
        </div>
        <!-- Blog List -->  
        <div class="qodef-post-info">
          <div class="qodef-holder seven-twelfths">
            <h6 class="qodef-title">{{ settings.blog_sharing_title }}:</h6>
            <div class="qodef-tags">
              {% include 'tags-article' %}
            </div>
          </div>
          {% if settings.blog_sharing %}

         	 {%  include 'social-sharing' %}  

          {% endif %}  
        </div>
        
        
        {% if blog.comments_enabled? %}  
        {% paginate article.comments by section.settings.no_of_comment %}

        {{ number_of_comments }}

        {% if article.comments_count > 0 %}         
        <div class="comment_list">

          <h5>Comments({{ article.comments_count }})</h5>  

          {% for comment in article.comments %}
          {% include 'article-comments'  %}
          {% endfor %}
        </div>  
        {%  endif %}

        {% if paginate.pages > 1 %}
        <div class="pagination-wrapper">
          {% include 'pagination' %}
        </div>
        {% endif %}
        <div class="comment_section"> 
          {% form 'new_comment', article %} 
          {% if comment and comment.created_at %}  
          <p class="note form-success">
            {% if blog.moderated? %}
            {{ 'blogs.comments.success_moderated' | t }}
            {% else %}
            {{ 'blogs.comments.success' | t }}
            {% endif %}
          </p>
          {% endif %} 

          <h5>{{ 'blogs.comments.title' | t }}</h5> 
          <div class="grid__item one-whole">            
            {{ form.errors | default_errors }}
          </div>


          <div class="comment_form grid">       

            <div class="grid__item one-half small--one-whole">
              <input type="text" name="comment[author]" arial-label="Name" id="CommentAuthor" class="input-full{% if form.errors contains 'author' %} error{% endif %}" placeholder="{{ 'blogs.comments.name' | t }}" value="{{ form.author }}" >

            </div>

            <div class="grid__item one-half small--one-whole">
              <input type="email" name="comment[email]" arial-label="Email" id="CommentEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'blogs.comments.email' | t }}" value="{{ form.email }}" required>
            </div>

            <div class="grid__item one-whole small--one-whole">
              <textarea name="comment[body]" id="CommentBody" arial-label="Message" class="input-full{% if form.errors contains 'body' %} error{% endif %}" placeholder="{{ 'blogs.comments.message' | t }}">{{ form.body }}</textarea>

            </div>
            <div class="grid__item one-whole">
              <input type="submit" class="btn--primary" arial-label="submit" value="{{ 'blogs.comments.post' | t }}">

            </div>                            
          </div>   

          {% if form.errors %}
          {% assign newHash = 'AddCommentTitle' %}
          {% endif %}

          {% if form.posted_successfully? %}
          {% assign newHash = 'Comments' %}
          {% endif %}

          {% endform %}            
        </div>     
        {% endpaginate %}    
        {% endif %}

      </div>       


      <!-- Blog Sidebar End-->

      {% if settings.enable_blog_sidebar %}
      <!-- Sidebar Start --> 
      <div class="grid__item three-twelfths medium-down--one-whole">                  
        {% include 'blog-sidebar' %}                  
      </div>        
      <!-- Sidebar End -->  
      {% endif %}
    </div>        
  </div>    
</div>   


{% schema %}
  {
    "name": "Article Page",
    "settings": [
	  {
          "type": "checkbox",
          "id": "show_article_nav",
          "label": "Show Previous / Next",
		  "default":true
        },
		{
          "type": "checkbox",
          "id": "blog_author_enable",
          "label": "Show blog post author",
		  "default":true
        },
		{
          "type":"checkbox",
          "id":"enable_comment",
          "label":"Show Comments Number",
			"default":true
        },
	  {
        "type": "text",
        "id": "no_of_comment",
        "label": "No of Comments Per Article page",
        "default": "5"
      }

	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
